<div class="change-person-wrapper">
    <a href="/" class="change-person-link-home" title="К списку контактов">&#8678;</a>
    <form>
        <div class="change-person-label-wrapper">
            <label > Введите имя:
                <input class="change-person-input" type="text" placeholder="имя" ng-model="name">
            </label>
        </div>
        <div class="change-person-label-wrapper">
            <label >Введите фамилию:
                <input class="change-person-input" type="text" placeholder="фамилия" ng-model="surname">
            </label>
        </div>
        <div class="change-person-label-wrapper">
            <label >Введите номер телефона:
                <input class="change-person-input" type="text" placeholder="номер телефона" ng-model="phone">
            </label>
        </div>
        <div class="change-person-label-wrapper">
            <label >Введите email:
                <input class="change-person-input" type="text" placeholder="email" ng-model="email">
            </label>
        </div>
        <div class="change-person-label-wrapper">
            <label>Заметки:
                <input class="change-person-input" type="text" placeholder="заметки" ng-model="info">
            </label>
        </div>
        <span class="btn btn--save" ng-click="save()" ng-show="name&&surname&&phone">Сохранить</span>
    </form>
</div>


